<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/users.css">
    <title>Post Form</title>
</head>
<body>
    <h1>Add Post for {{user.first_name + ' ' + user.last_name}}</h1>
    <form method="POST">
        <label>Title </label><input type="text" class="title-data" name="title"><br><br>
        <label>Content  </label><input type="text" class="content-data" name="content"><br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>